@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: white;
  background-color: #0f172a;
}

.cursor {
  position: fixed !important;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(24, 51, 100, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  width: 900px !important;
  height: 900px !important;
  margin-left: -445px;
  margin-top: -440px; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.columns {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  flex: 1;
}

.left {
  order: 2;
}

.right {
  order: 1;
}

@media screen and (max-width: 640px) {
  .columns {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .left,
  .right {
    order: initial;
  }

  .left {
    margin-bottom: 1rem;
  }

  .right {
    margin-top: 1rem;
  }
}
